*{
    margin: 0px;
    padding: 0px;
    background-color: green;
}

.navbar ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
    
    


}
.navbar ul li a{
    text-decoration: none;
    margin: 10px;
    color: white;
    


}
#sign{

    text-align: right;
    

}


/* .navbar ul{
    list-style-type:none;
    display:flex;
    justify-content:center;
    background-color: rgb(193, 52, 1);
    padding: 10px;
   
}
.navbar ul li a {
    text-decoration:none;
    margin: 10px;
    color: rgb(232, 228, 228);
    font-size:px;
    
}
.anc{
    color:blue
} */
