*{
    margin: 0px;
    padding: 0px;
}
.navbar {
    list-style-type:none;
    display: flex;
    justify-content: center;
    background-color: aqua;

}
.navbar  li a{
    text-decoration: none;
    margin: 10px;
    
}
